/* Resets here */
@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Code+Pro');



h1, p {
  font-family: Pacifico, Helvetica, sans-serif;
  color: #333333;
  margin: 10px;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Source Code Pro';
  font-size: 20px;
  color: #555;
}

*{
  outline: none;
}


/* Styles here */
.center-container {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator {
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: #EAEAEA;
  border-radius: 5px;
  
}

.screen {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: 2px solid #0FE1C2;
  line-height: 1.7;
  font-size: 22px;
  background: #dfdfdf;
  font-family: 'Source Code Pro';
  font-weight: 800;
  text-align: right;
}

.screen:focus{
  background: #f4f4f4;
}

.button {
  background: #f5f5f5;
  grid-column: 1fr;
  margin: 1px;
  line-height: 1.7;
  height: 50px;
}

.button:hover{
  background: #fff;
  border-radius: 3px;
}

.operations-button{
  background: #0FE1C2;
  border-radius: 3px;
}

.results-button:hover{
    background: #3ADBC3;
}

.results-button {
  background: #49ECD4;
  border-radius: 3px;
}

.operations-button:hover{
    background: #0DC1A6;
}

label {
  display: inline-block;
  width: 100%;
}