<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Page Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>

	<body>
		<div id="root"></div>

		<script
			src="https://unpkg.com/react@16/umd/react.development.js"
			crossorigin
		></script>
		<script
			src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
			crossorigin
		></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

		<script type="text/babel">
			class App extends React.Component {
				constructor(props) {
					super(props);
					this.state={
						count:"",
            color:''
					}
					this.handlChange=this.handlChange.bind(this)
        }

				handlChange(event){
					this.setState({count:event.target.value})
          if (this.state.count.length==5) {
            this.setState({color:'green'})
          }
          else if(this.state.count.length==10){
            this.setState({color:"black"})
          }
          else if(this.state.count.length==15){
            this.setState({color:"orange"})
          }
          else{
            this.setState({color:"yellow"})
          }
				}

        



        
        render(){
					return (
					<div>
					<input type="text" onChange={this.handlChange} value={this.state.count} placeholder="enter text" />
          <p style={{color:this.state.color}}>{this.state.count}</p>
					</div>
					)
				}
			}

			ReactDOM.render(<App />, document.getElementById("root"));
      
		</script>
	</body>
</html>
