<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

    <div id="root"></div>














    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>


    <script type="text/babel">
   const ErrorDisplay=({message})=>
   <div style={{color:'red',backgroundColor:"Yellow"}}>{message}</div>

   ReactDOM.render(
     <ErrorDisplay
     message="This an error;
     "
     />,
     document.getElementById('root')
   )
  </script>
  </body>

</html>